<!doctype html>
<html lang="pl">
     <head>
     <% include head %>
     </head>
     <body>
     <% include menu %>
     <div class="container" >
        <div class="jumbotron">
          <h1>Pogoda w Koszalinie</h1><br>
          <p><%= pogoda.currently.summary %>, 
             temperatura <%= Math.round(pogoda.currently.temperature) %>&degC.,
             temperatura odczuwalna <%= Math.round(pogoda.currently.apparentTemperature) %>&degC.,
             ciśnienie <%= pogoda.currently.pressure %> [hPa],
             wiatr <%= pogoda.currently.windSpeed %> [m/s],
             w porywach do <%= pogoda.currently.windGust %> [m/s],
             wilgotność powietrza <%= pogoda.currently.humidity * 100 %> %
          </p>
          <p><%= pogoda.hourly.summary %></p>
          <p><%= pogoda.daily.summary %></p>
          <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
        </div>
     </div>
     <% include footer %> 
     <script type="text/javascript" src="js/js_in.js"></script>
     </body>
</html>
