<!doctype html>
<html lang="pl">
  <head>
  <% include head %>
  </head>
  <% include menu %>
  <body>
  <div class="container-fluid" >
  <div class="row content">
    <div class="col-sm-3 sidenav" style="position: fixed; padding-right: 120px">
        <% dzialy.forEach((dzial) => { %>
        <a href="#<%= `${dzial}` %>" ><%= dzial %></a><br>
        <% }) %>
    </div>
  <div class="col-sm-9" style="margin-left: 220px">
  <% dzialy.forEach((dzial) => { %>
  <div class="container-fluid" id="<%= `${dzial}` %>" ><h3><%= dzial %></h3>
    <table class="table table-hover">
     <thead class="thead-inverse">
     <tr>
       <th>Nazwisko i imię</th>
       <th>Wew.</th>
       <% if (dzial === 'Handel') { %>
       <th>Wew. handel</th>
       <% } %>
       <th>Tel. Miejski</th>
       <th>Tel. Komórkowy</th>
       <% if (mod['mod'] === false) { %>
         <th>Adres email</th>
       <% } else { %>
         <th>Wybierz opcję</th>
       <% } %>
     </tr>
     </thead>
     <% telefony.filter((tab) => { return tab['Dział'] == dzial; }).forEach((el) => { %>
     <tbody>
        <td><%= el['Nazwisko i imię'] %></td>
        <td><%= el['Wew'] %></td>
        <% if (dzial === 'Handel') { %>
        <td><%= el['Dodatkowe'] %></td>
        <% } %>
        <td><%= el['Tel. Miejski'] %></td>
        <td><%= el['Tel. Komórkowy'] %></td>
        <% if (mod['mod'] === false) { %>
        <td><a href="mailto:<%= el['Adres e-mail'] %>"><%= el['Adres e-mail'] %></a></td>
        <% } %>
        <% if (mod['mod'] === true) { %>
           <td>
             <a href="/Modbiuro/<%= el['Nazwisko i imię'] %>">Popraw</a> | 
             <a href="/Delbiuro/<%= telefony.findIndex(x => x['Nazwisko i imię'] === el['Nazwisko i imię']) %>" onclick="return confirm('Czy jesteś pewien!?')">Usuń!</a>
           </td>
        <% } %>
     </tbody>
     <% }) %>
    </table>
 </div>
<% }) %>
</div>
<div>
</div>
  <footer class="page-footer container-fluid text-center">
    <p>Copyright by Karabasz Software</p>
  </footer>
     <script type="text/javascript" src="/js/js_in.js"></script>
  </body>
</html>
