<!doctype html>
<html lang="pl">
     <head>
     <% include head %>
     <style>
       input[type=text] {width: 400px;}
       table { width: 600px; }
       td { padding-bottom: 20px; }
     </style>
     </head>
     <body>
     <% include menu %>
     <div class="container" >
        <div class="jumbotron">
          <form action="<%= route %>" method="post" >
            <table>
              <tr><td><input type="text" style="display:none" name="index" value="<%= dane['index'] %>"></td>
              <tr>
                <td>Nazwisko i Imię:</td>
                <td><input type="text" name="Nazwisko i imię" value="<%= dane['Nazwisko i imię'] %>"></td>
              </tr>
              <tr>
                <td>Dział/Stanowisko:</td>
                <td><input type="text" name="Dział" value="<%= dane['Dział'] %>"></td>
              </tr>
              <tr>
                <td>Telefon wew. :</td>
                <td><input type="text" name="Wew" value="<%= dane['Wew'] %>"></td>
              </tr>
              <tr>
                <td>Telefon miejski:</td>
                <td><input type="text" name="Tel. Miejski" value="<%= dane['Tel. Miejski'] %>"></td>
              </tr>
              <tr>
                <td>Tel. wew. dodatkowy:</td>
                <td><input type="text" name="Dodatkowe" value=<%= dane['Dodatkowe'] %>></td>
              </tr>
              <tr>
                <td>Telefon komórkowy:</td>
                <td><input type="text" name="Tel. Komórkowy" value="<%= dane['Tel. Komórkowy'] %>"></td>
              </tr>
              <tr>
                <td>Adres email:</td>
                <td><input type="text" name="Adres e-mail" value="<%= dane['Adres e-mail'] %>"></td>
              </tr>
            </table><br>
            <input type="submit" value="Zatwierdź">
          </form>
        </div>
     </div>
     <script type="text/javascript" src="js/js_in.js"></script>
     <% include footer %>
     </body>
</html>
